{% block base %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    {% endblock %}
    <ul>
        <li><a href="{% url 'index' %}">Домашняя страница</a></li>
        <li><a href="{% url 'login' %}">Авторизация</a></li>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
        <li><a href="{% url 'profile' %}">Профиль</a></li>
    </ul>
</body>
</html>
{% endblock %}